.wp-block-custom-team-block {
    background: #ccc;
    padding: 20px;
    text-align: center;
}

.wp-block-custom-team-block .row {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.wp-block-custom-team-block .row .box {
    max-width: 100%;
    min-width: 25%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
}

.wp-block-custom-team-block .row .box:nth-child(4) ~ .box {
    max-width:25%;
}